.navbar {
  background-color: #9796f0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.emoji-game-heading {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
}

.emoji-logo {
  height: 30px;
  width: 30px;
}

.scores-container {
  display: flex;
  align-items: center;
}

.score {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  margin-right: 14px;
}

.top-score {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .top-score {
    font-size: 20px;
  }

  .score {
    font-size: 20px;
    margin-right: 24px;
  }

  .emoji-game-heading {
    font-size: 20px;
  }

  .emoji-logo {
    height: 40px;
    width: 40px;
  }
}
